* {
  margin: 0;
}

body {
  background-color: rebeccapurple;
  color: white;
}

.splash {
  height: 150px;
  background-color: pink;
}

.box {
  height: 200px;
  width: 200px;
  background-color: cornflowerblue;
  margin-top: 50px;
  padding: 8px;
  border: 2px black solid;
  box-sizing: border-box;
}

/* this is the baseline for changing content for device size */
/* ALWAYS develop for mobile first */
@media screen and (min-width: 600px) {
  .box {
    width: 100%;
}
}
